spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/somshare
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

cloud:
  aws:
    region: ap-northeast-2
    credentials:
      access-key: ${AWS_ACCESS_KEY:}
      secret-key: ${AWS_SECRET_KEY:}
    cognito:
      user-pool-id: ${COGNITO_USER_POOL_ID:}
      client-id: ${COGNITO_CLIENT_ID:}
    s3:
      bucket: somshare-pdf-bucket
    ses:
      from-email: noreply@somshare.com
